---
layout: default
---
<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

<div class="page-header">
  <h1>{{ page.title }}
      {% if page.tagline %}<br/><small>{{page.tagline}}</small>{% endif %}</h1>
</div>
{% assign this_post = page %}
<div class="post-info">
  {% include category_info %}
  {% include source_info %}
</div>
<div id="post-content" class="post-content">
   {{ content }}
</div>
<script type="text/javascript">
  var el = document.getElementById("post-content");
  fix_cjk_linebreak(el);
  fix_table_style(el);
</script>
<div class="sharing align-right">
  <!--{% include JB/sharing %}-->
</div>
<div class="align-center">
  {% include post_pagination %}
</div>
<hr/>
{% include JB/comments %}

<a href="#" class="back-to-top">Back to Top</a>
<style>
a.back-to-top {
    display: none;
    width: 60px;
    height: 60px;
    text-indent: -9999px;
    position: fixed;
    z-index: 999;
    right: 20px;
    bottom: 20px;
    background: #eee url("/img/angle-up.svg") no-repeat center 40%;
    background-size: 35px 35px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}
</style>

<script type="text/javascript">
    $('body').prepend('<a href="#" class="back-to-top">Back to Top</a>');
    var amountScrolled = 10;
    var duration = 300;
    $(window).scroll(function() {
        if ( $(window).scrollTop() > amountScrolled ) {
            $('a.back-to-top').fadeIn('slow');
        } else {
            $('a.back-to-top').fadeOut('slow');
        }
    });

    jQuery('.back-to-top').click(function(event) {
      event.preventDefault();
      jQuery('html, body').animate({scrollTop: 0}, duration);
      return false;
    })
</script>

<script type="text/javascript">
function dashangToggle()
{
  $(".shang_box").fadeToggle();
}
function changeItem(i)
{
  var k = 3;
  for(var j = 0;j < k;j++)
  {
    if(j == i)
    {
      document.getElementById("sl_shang" + j).style.display = "block";
    }
    else
    {
      document.getElementById("sl_shang" + j).style.display = "none";
    }
  }
}
function opay()
{
  document.getElementById("sl_shang").target="_parent";
}
</script>

<style>
.sy_shang{
  clear:both;
  overflow:hidden;
}
.shang_box{
  width:200px;
  max-width:98%;
  height:300px;
  padding:10px;
  background-color:#ddd;
  border-radius:26px;
  position:inherit;
  z-index:1000;
  border:3px dotted #dedede;
  display:none;
}
.dashang{
  display:block;
  width:80px;
  margin:5px auto;
  height:17px;
  line-height:14px;
  padding:10px;
  background-color:#E74851;
  color:#fff !important;
  text-align:center;
  text-decoration:none;
  border-radius:10px;
  font-size:17px;
  font-style: italic;
  transition:all 0.3s;
}
.dashang:hover
{
  opacity:1.2;
  font-size:18px;
}
#sl_shang0,#sl_shang1,#sl_shang2
{
  text-align:center;
}
#sl_shang0 img,#sl_shang1 img,#sl_shang2 img
{
  max-width:180px;
}
.sl_shang
{
  overflow:hidden;
}
.sl_shang b { font-size:18px; }
.sl_shang ul{ margin-top:10px; clear:both; overflow:hidden; }
.sl_shang li{ float:left; }
</style>

<center>
<div class="sy_shang">
  <a href="javascript:void(0)" onclick="dashangToggle()" class="dashang" title="打赏，支持一下">
    <table>
      <col width="50%">
      <col width="50%">
      <tr>
        <td align="center" valign="top"><em class="icon-coins"></em></td>
        <td align="right" valign="top">Donate</td>
      </tr>
    </table>
  </a>

<div class="shang_box">
  <a href="javascript:void(0)" onclick="dashangToggle()" title="关闭" style="float:right;"><em class="icon-remove-2"></em></a>

<div id="sl_shang" onsubmit="return postcheck()">
  <div class="sl_shang">
    <i>How to Donate:</i>
    <table width="80%">
      <col width="50%">
      <col width="50%">
    <tr>
      <td align="center" valign="middle"><input type="radio" name="paytype" onclick="opay();return changeItem(0);" checked="checked"/>
        </td>
      <td align="center" valign="bottom"><input type="radio" name="paytype" onclick="opay();return changeItem(1);" />
        </td>
      </tr>
    <tr>
      <td align="center" valign="middle"> Alipay </td>
      <td align="center" valign="middle"> WeChat </td>
    </tr>
    </table>
  </div>

<div id="sl_shang0">
  <img src="/img/alipay.jpg">
  <br> Open Alipay and Scan
</div>

<div id="sl_shang1" style="display:none;">
  <img src="/img/wechat.jpg">
  <br> Open WeChat and Scan
</div>

</center>
