---
layout: default
---
<div class="page-header">
  <h1>{{ page.title }}
      {% if page.tagline %}<br/><small>{{page.tagline}}</small>{% endif %}</h1>
</div>
{% assign this_post = page %}
<div class="post-info">
  {% include category_info %}
  {% include source_info %}
</div>
<div id="post-content" class="post-content">
   {{ content }}
</div>
<script type="text/javascript">
  var el = document.getElementById("post-content");
  fix_cjk_linebreak(el);
  fix_table_style(el);
</script>
<div class="sharing align-right">
  <!--{% include JB/sharing %}-->
</div>
<div class="align-center">
  {% include post_pagination %}
</div>
<hr/>
{% include JB/comments %}


<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<a href="#" class="back-to-top">Back to Top</a>
<style>
a.back-to-top {
    display: none;
    width: 60px;
    height: 60px;
    text-indent: -9999px;
    position: fixed;
    z-index: 999;
    right: 20px;
    bottom: 20px;
    background: #eee url("/img/angle-up.svg") no-repeat center 40%;
    background-size: 35px 35px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}
</style>

<script type="text/javascript">
    $('body').prepend('<a href="#" class="back-to-top">Back to Top</a>');
    var amountScrolled = 10;
    var duration = 300;
    $(window).scroll(function() {
        if ( $(window).scrollTop() > amountScrolled ) {
            $('a.back-to-top').fadeIn('slow');
        } else {
            $('a.back-to-top').fadeOut('slow');
        }
    });

    jQuery('.back-to-top').click(function(event) {
      event.preventDefault();
      jQuery('html, body').animate({scrollTop: 0}, duration);
      return false;
    })
</script>

